<aside class="sidebar">
  <div class="logo">
    <img src="/bitcoin.png" alt="" ><span>ANCATI</span>
    <!-- <i class="fab fa-bitcoin"></i>ancati -->
    </div>
  <nav class="nav-menu">
    <div class="menu-section">
      <h3>Quick Access</h3>
      <a [routerLink]="['/', userId, 'dashboard']" routerLinkActive="active">
        <i class="fas fa-home"></i> Dashboard
      </a>
      <a [routerLink]="['/', userId, 'exchange']" routerLinkActive="active">
        <i class="fas fa-exchange-alt"></i> Exchange
      </a>
      <a [routerLink]="['/', userId, 'wallet']" routerLinkActive="active">
        <i class="fas fa-wallet"></i> My Wallet
      </a>
    </div>
    <div class="menu-section">
      <h3>Service</h3>
      <a [routerLink]="['/', userId, 'Overview']" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i> Overview
      </a>      
      <a [routerLink]="['/', userId, 'buy-sell']" routerLinkActive="active">
        <i class="fas fa-coins"></i> Buy & Sell Coin
      </a>
      <a [routerLink]="['/', userId, 'deposit']" routerLinkActive="active">
        <i class="fas fa-dollar-sign"></i> Deposit Dollars
      </a>
    </div>
    <div class="menu-section">
      <h3>Settings</h3>
      <a [routerLink]="['/', userId, 'settings']" routerLinkActive="active">
        <i class="fas fa-cog"></i> Settings
      </a>
      <a [routerLink]="['/logout']">
        <i class="fas fa-sign-out-alt"></i> Log Out
      </a>
    </div>
  </nav>
</aside>