<div class="wallet-container">
  <div *ngIf="!wallet" class="create-wallet">
    <p>Vous ne disposez d'aucun wallet. Cliquez sur ce bouton pour en créer un :</p>
    <button (click)="createWallet()" class="btn btn-create-wallet">Create Wallet</button>
  </div>

  <!-- Si un wallet existe, afficher les informations -->
  <div *ngIf="wallet" class="wallet-summary">
    <h2>Current Balance</h2>
    <h1>{{ wallet?.balance | currency: 'USD' }}</h1>
    <p class="wallet-address">{{ wallet?.address }}</p>
    <div class="wallet-actions">
      <button (click)="openDepositModal()" class="btn btn-top-up">+ Top up</button>
      <button (click)="openWithdrawModal()" class="btn btn-withdraw">- Withdraw</button>
    </div>
  </div>

  <div *ngIf="wallet" class="wallet-history">
    <h3>History</h3>
    <div class="history-items" [class.scrollable]="showShowLess">
      <div
        *ngFor="let transaction of visibleTransactions"
        class="history-item"
        [class.positive]="transaction.transaction_type === 'deposit'"
        [class.negative]="transaction.transaction_type === 'withdraw'"
      >
        <span class="transaction-type">
          <span *ngIf="transaction.transaction_type === 'deposit'" class="symbol">+</span>
          <span *ngIf="transaction.transaction_type === 'withdraw'" class="symbol">-</span>
          {{ transaction.transaction_type | titlecase }}
        </span>
        <span class="transaction-amount">
          {{ transaction.amount | currency: 'USD' }}
        </span>
      </div>
    </div>
    <button *ngIf="showSeeMore" (click)="showAllTransactions()" class="see-more">
      See More
    </button>
    <button *ngIf="showShowLess" (click)="showLessTransactions()" class="show-less">
      Show Less
    </button>
  </div>

  <!-- Message de succès -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Modals -->
  <div class="modal" *ngIf="showDepositModal">
    <div class="modal-content">
      <h3>Deposit Funds</h3>
      <input type="number" [(ngModel)]="amount" placeholder="Enter amount" />
      <div class="modal-actions">
        <button (click)="deposit()" class="btn btn-confirm">Confirm</button>
        <button (click)="closeDepositModal()" class="btn btn-cancel">Cancel</button>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="showWithdrawModal">
    <div class="modal-content">
      <h3>Withdraw Funds</h3>
      <input type="number" [(ngModel)]="amount" placeholder="Enter amount" />
      <div class="modal-actions">
        <button (click)="withdraw()" class="btn btn-withdraw-confirm">Confirm</button>
        <button (click)="closeWithdrawModal()" class="btn btn-cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>
