<div class="credit-card-container">
  <h2 class="card-title">My Card</h2>
  <div class="credit-card">
    <div class="card-top">
      <div class="card-logo">
        <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" alt="Chip" />
      </div>
      <div class="card-brand">
        <img src="https://cdn-icons-png.flaticon.com/512/825/825508.png" alt="Card Brand" />
      </div>
    </div>
    <div class="card-number" style="color: #0e0453;">
      {{ maskedCardNumber }}
      <span (click)="toggleCardMask()" class="eye-icon">
        <img
          [src]="isCardMasked ? 'https://cdn-icons-png.flaticon.com/512/159/159604.png' : 'https://cdn-icons-png.flaticon.com/512/159/159605.png'"
          alt="Toggle Visibility"
          width="16"
          height="16"
        />
      </span>
    </div>
    <div class="card-bottom">
      <div class="card-holder" style="color: #0e0453;">{{ cardHolder }}</div>
      <div class="card-expiry" style="color: #0e0453;">{{ expiryDate }}</div>
    </div>
  </div>
</div>
