<div class="chart-section ">
  <h2 class="chart-title">Ethereum Price over Time

    <button (click)="viewAllTime()">Max</button>
    <button (click)="viewYear()">1a</button>
    <button (click)="viewWeek()">7j</button>
    <button (click)="view24h()">24h</button>
  </h2> <!-- Ajout du titre -->
  <!-- <div class="period-selector"> -->

  <!-- </div> -->

  <ngx-charts-line-chart
    [view]="view()"
    [results]="chartData()"
    [gradient]="true"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [yAxisTickFormatting]="yAxisTickFormatting"
    [autoScale]="autoScale"
    [timeline]="timeline"
    [customColors]="customColors()"
  >
  </ngx-charts-line-chart>
</div>