<div class="profile-page">
  <div class="profile-header">
    <img
      [src]="user.profileImage"
      alt="Profile Picture"
      class="profile-image"
    />
    <h1>{{ user.name }}</h1>
    <p>{{ user.email }}</p>
  </div>

  <div class="profile-info">
    <h2>Details</h2>
    <ul>
      <li><strong>Username:</strong> {{ user.username }}</li>
      <li><strong>Phone:</strong> {{ user.phone }}</li>
      <li><strong>Address:</strong> {{ user.address }}</li>
      <li><strong>Member Since:</strong> {{ user.memberSince  }}</li>
    </ul>
  </div>

  <div class="profile-actions">
    <button (click)="editProfile()">Edit Profile</button>
    <button class="danger" (click)="deleteAccount()">Delete Account</button>
  </div>
</div>
